using System;

namespace AOC.Solver
{
    public static class Day{{day}}
    {
        public static int SolvePart1(int[] input)
        {
            throw new NotImplementedException("Part 1 not implemented yet!");
        }

        public static int SolvePart2(int[] input)
        {
            throw new NotImplementedException("Part 2 not implemented yet!");
        }
    }
}
